body {
	background: #6296ab;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
 	color: white;
  line-height: 1.7;
  margin: 10px;
 	padding: 50px;
 	text-align: center;
}

canvas {
	border: 0px;
	position: relative;
	z-index: 3;
	visibility: visible;
}

img {
	position: absolute;
	z-index: 2;
}
