/* page font */
body 		
{ 
	font: 16px "Comic Sans MS", cursive;
	background: url("Blue-rule.png");
}

/* paragraphs */
p
{ 
	color: #00F;		
}

p:before
{
	content: url("Yellow-pin.png")
}

#first 
{ 
	font-style: italic;
}

strong	
{ 
	background-color: #ddf;	
	color: #F00;
	font: 200% serif;
}
/*
.carrot	
{ 
	color: orange;	
} */

.spinach 
{ 
	color: #080;
	background-color: #ddf; 	
}


